<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="Main.css">
        <title>  </title>
    </head>
<body background="landing_bg.jpg"> 
<!-- Add backgroud pic to body -->
<form class="form-inline">
    <div class="form-group">
        <label for="search">Search:</label>
        <input type="text" class="form-control" id="searchInput1" placeholder="Corn, Fruit, Tomatoes..."> 
    </div>
    <div class="form-group">
        <label for="searchCritea">By:</label>
        <input type="text" class="form-control" id="searchInput2" placeholder="Nearest">
    </div>
    <button type="submit" class="btn btn-default"> Search </button>
</form>
</body>
    
</html>